@import url("./fonts/Typewriter/cmun-typewriter.css");

@font-face {
  font-family: "NCM";
  src: url("./fonts/NewCM10-Book.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "NCM";
  src: url("./fonts/NewCM10-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NCM";
  src: url("./fonts/NewCM10-BookItalic.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: "NCM";
  src: url("./fonts/NewCM10-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("./fonts/AlegreyaSans-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/inria-sans-v14-latin_latin-ext-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inria-sans-300italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/inria-sans-v14-latin_latin-ext-300italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inria-sans-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inria-sans-v14-latin_latin-ext-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inria-sans-italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/inria-sans-v14-latin_latin-ext-italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inria-sans-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/inria-sans-v14-latin_latin-ext-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inria-sans-700italic - latin_latin-ext */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/inria-sans-v14-latin_latin-ext-700italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}